.moves {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moves-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.moves-container > small{
    padding: 8px 16px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 16px;
    text-transform: uppercase;
}
